
.margin_bottom {
    background-color: #f9f5f0;
    height: 100vh;
}

.table_product_title {
    display: flex;
    justify-content: space-between;
}

.title_table_product_content {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 1%;
}

.admin_right_product {
    display: flex;
}

.header_form_admin_product {
    display: block;
    position: absolute;
    right: 0;
    background: #fff;
    border-radius: 30px;
    right: 24px;
    width: 342px;
}
.header_form_admin_product input {
    color: #86898E;
    font-size: 14px;
    height: 40px;
    width: 100%;
    padding-left: 50px;
    border: 0;
    padding-right: 15px;
    background: transparent;
    border-radius: 30px;
    border: 0;
    border: 1px solid #dca395;
    font-weight: 400;
}

.header_form_admin_product input:focus {
    outline: none;
}


.close_search_product {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: transparent;
    font-size: 12px;
    border: 0;
    padding-left: 20px;
    padding-right: 13px;
    padding-top: 5px;
    color: #E29481;
}

.btn_add {
    padding: 6px 12px;
    float: right;
    width: 100px;
    display: block;
    padding: 8px;
    margin-bottom: 11px;
}


.table {
    width: 100%;
    display: block;
    border-radius: 20px;
    background-color: #fff;
}

.table_title_pro, .content {
    text-align: center;
    width: -1%;
    border: none;
    border-radius: 10px;
}

.table_product {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1 rem;
}

.img_pro>img{
    width: 10rem;
}

.btn_remove {
    width: 100%;
    margin-bottom: 4px;
    padding: 11px 0;
}

.btn_update {
    width: 100%;
    height: auto;
    padding: 11px 0;
}