.content {
    padding: 0 25px;
}

.news {
    display: block;
    margin-top: 30px;
}

.newsContent {
    margin: 30px 0;
}

.news .newsContent .newContentTitle {
    text-align: center;
}

.news .newsContent .newContentTitle a {
    font-size: 29px;
    text-decoration: none;
    color: var(--color-text);
    letter-spacing: 1px;
    font-weight: 600;
}

.news .newsContent .newContentTitle a:hover {
    color: var(--color-hover);
}

.news .newsContent .newContentTitle .newContentViewMore {
    margin-top: 20px;
}

.news .newsContent .newContentTitle .newContentViewMore a {
    font-weight: 500;
    font-size: 18px;
}


/* ----About--News---- */

.newAbout {
    display: flex;
    height: auto;
    position: relative;
}

.newsAbout1 {
    display: flex;
    margin-top: 20px;
}

.newsAbout1::before {
    display: table;
    content: "";
}

.newAboutContent::after {
    content: "";
    position: absolute;
    top: -20px;
    bottom: 20px;
    left: -9%;
    right: 8%;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: var(--color-hover);
    border-width: 2px;
    z-index: 0;
}

.newAboutImg {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    width: 50%;
}

.newAboutImg img {
    width: 100%;
}

.newAboutContent {
    position: relative;
    width: 50%;
    background: #f9f8f8;
    margin-top: 40px;
    padding: 20px 40px 20px 20px;
}

.newAboutContentTitle {
    padding-bottom: 20px;
}

.newAboutContentTitle a {
    position: relative;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    color: black;
    text-decoration: none;
    z-index: 1;
    transition: color .2s ease;
}

.newAboutContentTitle a:hover {
    color: var(--color-hover);
}

.newAboutContent-des p {
    position: relative;
    color: var(--color-text);
    text-align: justify;
    z-index: 1;
}

.newAboutBtn {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-style: italic;
    margin-top: 28px;
    text-align: center;
    border-radius: 6px;
    width: 100px;
    height: auto;
    background: var(--color-hover);
    padding: 6px;
    transition: all .2s ease;
    z-index: 1;
}

.newAboutBtn:hover {
    width: 125px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.bannerEffect {
    display: block;
}

.bannerEffect::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    display: block;
    transform: skewX(-25deg);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    z-index: 2;
}

.bannerEffect:hover::before {
    animation: shine 0.8s linear;
}

@media (min-width: 1024px) and (max-width: 1409px) {
    .content {
        padding: 0 40px;
    }

    .news {
        display: block;
        margin-top: 100px;
    }

    .newsContent {
        margin: 80px 0;
    }

    .news .newsContent .newContentTitle {
        text-align: center;
    }

    .news .newsContent .newContentTitle a {
        font-size: 29px;
        text-decoration: none;
        color: var(--color-text);
        letter-spacing: 1px;
        font-weight: 600;
    }

    .news .newsContent .newContentTitle a:hover {
        color: var(--color-hover);
    }

    .news .newsContent .newContentTitle .newContentViewMore {
        margin-top: 20px;
    }

    .news .newsContent .newContentTitle .newContentViewMore a {
        font-weight: 500;
        font-size: 18px;
    }


    /* ----About--News---- */

    .newAbout {
        height: auto;
        position: relative;
    }

    .newsAbout1 {
        display: flex;
    }

    .newsAbout1::before {
        display: table;
        content: "";
    }

    .newAboutContent::after {
        content: "";
        position: absolute;
        top: -20px;
        bottom: 20px;
        left: -9%;
        right: 8%;
        width: 100%;
        height: 100%;
        border-style: solid;
        border-color: var(--color-hover);
        border-width: 2px;
        z-index: 0;
    }

    .newAboutImg {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        width: 50%;
    }

    .newAboutImg img {
        width: 100%;
    }

    .newAboutContent {
        position: relative;
        width: 50%;
        background: #f9f8f8;
        margin-top: 40px;
        padding: 20px 40px 20px 20px;
    }

    .newAboutContentTitle {
        padding-bottom: 20px;
    }

    .newAboutContentTitle a {
        position: relative;
        font-size: 16px;
        margin: 0;
        font-weight: 600;
        color: black;
        text-decoration: none;
        z-index: 1;
        transition: color .2s ease;
    }

    .newAboutContentTitle a:hover {
        color: var(--color-hover);
    }

    .newAboutContent-des p {
        position: relative;
        color: var(--color-text);
        text-align: justify;
        z-index: 1;
    }

    .newAboutBtn {
        position: relative;
        text-decoration: none;
        color: #fff;
        font-style: italic;
        margin-top: 28px;
        text-align: center;
        border-radius: 6px;
        width: 100px;
        height: auto;
        background: var(--color-hover);
        padding: 6px;
        transition: all .2s ease;
        z-index: 1;
    }

    .newAboutBtn:hover {
        width: 125px;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
    }

    .bannerEffect {
        display: block;
    }

    .bannerEffect::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        display: block;
        transform: skewX(-25deg);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        z-index: 2;
    }

    .bannerEffect:hover::before {
        animation: shine 0.8s linear;
    }

    .content {
        padding: 0 25px;
    }

    .news {
        display: block;
        margin-top: 30px;
    }

    .newsContent {
        margin: 30px 0;
    }

    .news .newsContent .newContentTitle {
        text-align: center;
    }

    .news .newsContent .newContentTitle a {
        font-size: 29px;
        text-decoration: none;
        color: var(--color-text);
        letter-spacing: 1px;
        font-weight: 600;
    }

    .news .newsContent .newContentTitle a:hover {
        color: var(--color-hover);
    }

    .news .newsContent .newContentTitle .newContentViewMore {
        margin-top: 20px;
    }

    .news .newsContent .newContentTitle .newContentViewMore a {
        font-weight: 500;
        font-size: 18px;
    }


    /* ----About--News---- */

    .newAbout {
        display: flex;
        height: auto;
        position: relative;
    }

    .newsAbout1 {
        display: flex;
        margin-top: 20px;
    }

    .newsAbout1::before {
        display: table;
        content: "";
    }

    .newAboutContent::after {
        content: "";
        position: absolute;
        top: -20px;
        bottom: 20px;
        left: -9%;
        right: 8%;
        width: 100%;
        height: 100%;
        border-style: solid;
        border-color: var(--color-hover);
        border-width: 2px;
        z-index: 0;
    }

    .newAboutImg {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        width: 50%;
    }

    .newAboutImg img {
        width: 100%;
    }

    .newAboutContent {
        position: relative;
        width: 50%;
        background: #f9f8f8;
        margin-top: 40px;
        padding: 20px 40px 20px 20px;
    }

    .newAboutContentTitle {
        padding-bottom: 20px;
    }

    .newAboutContentTitle a {
        position: relative;
        font-size: 16px;
        margin: 0;
        font-weight: 600;
        color: black;
        text-decoration: none;
        z-index: 1;
        transition: color .2s ease;
    }

    .newAboutContentTitle a:hover {
        color: var(--color-hover);
    }

    .newAboutContent-des p {
        position: relative;
        color: var(--color-text);
        text-align: justify;
        z-index: 1;
    }

    .newAboutBtn {
        position: relative;
        text-decoration: none;
        color: #fff;
        font-style: italic;
        margin-top: 28px;
        text-align: center;
        border-radius: 6px;
        width: 100px;
        height: auto;
        background: var(--color-hover);
        padding: 6px;
        transition: all .2s ease;
        z-index: 1;
    }

    .newAboutBtn:hover {
        width: 125px;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
    }

    .bannerEffect {
        display: block;
    }

    .bannerEffect::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        display: block;
        transform: skewX(-25deg);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        z-index: 2;
    }

    .bannerEffect:hover::before {
        animation: shine 0.8s linear;
    }
}